body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 900px;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #0260B3;
    color: floralwhite;
    height: 70px;
    box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.33);
}

.logo-image {
    height: 70px;
    width: 100%;
}

.logo-container {
    width: 19.5%;
}

.header-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.header-container h2{
    margin-left: 100px;
}

.user-panel {
    padding-right: 20px;
}

.user-login {
    border: 1px solid white;
    padding: 8px 19px;
    transition: 0.3s;
    border-radius: 16px;
}

.user-login:hover {
    background-color: white;
    color: blue;
}

.nav-sidebar a {
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}

.nav-sidebar li {
    text-decoration: none;
    color: gray;
    line-height: 18px;
    width: 100%;
    padding: 3px 0;
    transition: 0.3s;
    border-bottom: 1px solid #7C92C6;
    margin-left: -15px;
    cursor: pointer;
}

.nav-sidebar li:hover {
    background-color: #7C92C6;
}

.nav-sidebar li:hover a {
    color: floralwhite;
}

.nav-sidebar p {
    padding-left: 15px;
}

nav ul {
    list-style: none;
    width: 100%;
    padding-left: 15px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-sidebar {
    width: 20%;
    background-color: #E4F0FF;
    margin: 6px 0;
}

.active {
    background-color: #7C92C6;
}

.user-login {
    text-decoration: none;
    color: floralwhite;
}

aside {
    float: left;
}

ul {
    padding-inline-start: 0;
}


footer {
    width: 100vw;
    height: 60px;
    background-color: #0260B3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
}



/**********MAIN CONTENT************/

.red {
    color: red;
}

.warning {
    padding: 5px;
    background-color: #F8D7DA;
    color: #721C59;
}

.main-content {
    margin: 15px;
    width: 80%;
}

.main-text {
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    line-height: 26px;
}

.main-text h2 {
    text-align: center;
}

.main-text a {
    text-decoration: none;
}

a{
    text-decoration: none;
}


.wrapper {
    display: flex;
    flex-direction: row;
    height: 900px;
}



/*******************MEDIA BREAKPOINTS********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 715px) {
    .main-header {
        flex-direction: column;
        height: 140px;
        align-items: center; 
    }

    .logo-container {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .brand-link {
        width: 66%
    }

    .logo-image {
        height: 70px;
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
        min-height: 1600px;
    }

    .main-sidebar {
        width: 100%;
        margin: 0;
    }

    .nav-item {
        text-align: center;
    }

    .header-container h2 {
        margin-left: 0;
    }

    .user-panel {
        padding-right: 0;
    }

    form {
        width: 200px;
    }

    #forgot-pwd-link {
        text-decoration: none;
    }

    .main-header {
        box-shadow: none;
    }

    /*#login-form {
        display: flex;
        flex-direction: column;
        width: 220px;
    }

    .login-input {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #login-form button {
        width: 100px;
        margin-top: 20px;
    }
*/
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}