body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 900px;
}

.logo-image {
    height: 70px;
    width: auto;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #0260B3;
    color: floralwhite;
    height: 70px;
    box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.33);
}

.logo-container {
    width: 30%;
}

.header-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.header-container h2{
    /*justify-self: center;*/
    margin-left: 100px;
}

.user-panel {
    /*justify-self: right;*/
    padding-right: 20px;
}

.user-login{
    border: 1px solid white;
    padding: 10px;
    
    transition: 0.3s;
}

.user-login:hover {
    border: 1px solid white;
    padding: 10px;
   
    background-color: white;
    color: blue;
}

.nav-sidebar a {
    text-decoration: none;
    color: gray;
}

.nav-sidebar li {
    text-decoration: none;
    color: gray;
    line-height: 18px;
    width: 100%;
    padding: 3px 0;
    transition: 0.3s;
    border-bottom: 1px solid #7C92C6;
    margin-left: -15px;
    cursor: pointer;
}

.nav-sidebar li:hover {
    background-color: #7C92C6;
    color: floralwhite;
    
}

.nav-sidebar p {
    padding-left: 15px;
}

nav ul {
    list-style: none;
    width: 100%;
    padding-left: 15px;
}



.main-sidebar {
    width: 20%;
    background-color: #E4F0FF;
    margin: 6px 0;
}

.user-login {
    text-decoration: none;
    color: floralwhite;
}

aside {
    float: left;
    
}

ul {
    padding-inline-start: 0;
}


footer {
    width: 100vw;
    height: 60px;
    background-color: #0260B3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
}

footer p {
    
}

/**********MAIN CONTENT************/

.red {
    color: red;
}

.warning {
    padding: 5px;
    background-color: #F8D7DA;
    color: #721C59;
}

.main-content {
    margin: 15px;
    width: 80%;
    
}

.main-text {
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    line-height: 26px;
}

.main-text h2 {
    text-align: center;
}


.wrapper {
    display: flex;
    flex-direction: row;
    height: 900px;
}



/*******************MEDIA BREAKPOINTS********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 715px) {
    .main-header {
        
        flex-direction: column;
        height: 140px;
        align-items: center;
        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}