body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 900px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 100%;
    flex-wrap: unset !important;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #0260B3;
    color: floralwhite;
    height: 70px;
    box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.33);
    padding-bottom: 0;
}

.logo-image {
    height: 70px;
    width: 100%;
}

.logo-container {
    width: 19.5%;
}

.header-container {
    width: 80.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-container h2{
    margin-left: 150px;
}

.login-link {
    margin-right: 20px;
}

.title-panel {
    width: 70%;
    display: flex;
    justify-content: center;
}

.user-panel {
    width: 30%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.user-panel p {
    margin-right: 10px;
}

.user-login {
    border: 1px solid white;
    padding: 8px 19px;
    transition: 0.3s;
    border-radius: 16px;
    
}

.user-login:hover {
    background-color: white;
    color: #0260B3;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #7C92C6 !important;
}

.navbar-toggler {
    color: white !important;
    border: none !important;
}

.navbar-toggler:focus {
    border: none !important;
}

div.sidebar {
    /*background-color: red;*/
    height: inherit;
}


.sidebar-list a {
    text-decoration: none;
    color: #6460a4c7;
    transition: 0.3s;
}

.sidebar-list li {
    text-decoration: none;
    color: #6460a4c7;
    line-height: 18px;
    width: 100%;
    padding: 0;
    transition: 0.3s;
    border-bottom: 1px solid #7C92C6;
    cursor: pointer;
}

.sidebar-list li:hover {
    background-color: #7C92C6;
}

.sidebar-list li:hover a {
    color: floralwhite;
}

.sidebar-list p {
    padding-left: 15px;
    margin: .8rem 0 .8rem 0 !important;
}

#loginForm p {
    text-align: center;
    margin-top: 15px
}

nav ul {
    list-style: none;
    width: 100%;
    /*padding-left: 15px;*/
}

ul.sidebar-list {
    list-style: none;
    padding-left: 0 !important;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-sidebar {
    width: 20%;
    background-color: #E4F0FF;
    margin: 6px 0;
}

.active {
    background-color: #E4F0FF;
}

.active-side {
    background-color: #7C92C6;
}

.active-side a {
    color: floralwhite;
}

.user-login {
    text-decoration: none;
    color: floralwhite;
}

.account-dropdown {
    left: 80% !important;
    width: 150px;
    padding:0;
}

aside {
    float: left;
}

ul {
    padding-inline-start: 0;
}


footer {
    width: 100vw;
    height: 60px;
    background-color: #0260B3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
}

#lblUser {
    margin-right: 10px;
}



/**********MAIN CONTENT************/

.red {
    color: red;
}

.warning {
    padding: 1rem 2rem;
    background-color: #F8D7DA;
    color: #721C59;
}

.main-content {
    margin: 15px;
    width: 80%;
}

.main-text {
    margin: 20px 100px 20px 44px;
    width: 70%;
    padding: 10px;
    line-height: 26px;
}

.main-text h2, .main-text h3, .main-text h4 {
    text-align: center; 
    text-align: center;
    color: #4d4949;
    margin-bottom: 20px;
}

.main-text a {
    text-decoration: none;
}

a{
    text-decoration: none;
}


.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 900px;
}


/*******************AGENCY PAGE********************/

.agency-details, .register-details {
    display: flex;
    flex-direction: column;
    width: 760px;
    background-color: #E4F0FF;
    border-radius: 15px;
    color: gray;
}

.register-details {
   margin: 30px auto;
    width: 70%;
    background-color: #E4F0FF;
    border-radius: 15px;
    color: gray;
    padding: 40px;
}

.register-details input {
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 5px auto;
    font-size: 14px;
    padding: 2px 8px;
    margin-right: 8px;
}

.register-details .input-row {
    margin: 3px;
}

#frmXXFirstName, #frmXXLastName {
    flex-basis: 1
}
/*.agency-details form {
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 25px;
}*/
.agency-form, .register-form {
    display: flex;
    flex-direction: column;
}

/*******************REFERRAL PAGE********************/

.ref-buttons {
    border: 1px solid #0260B3;
    padding: 4px 12px;
    transition: 0.25s;
    border-radius: 16px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 14px;
    margin: 10px;
    text-align: end;
}

    .ref-buttons:hover {
        background-color: white;
        color: #0260B3;
        cursor: pointer;
        border: 1px solid #0260B3;
    }

.refForm {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
}

#refTable {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 700px;
    margin-right: 0;
}

.page-heading {
    margin-bottom: 25px;
}

#headerRow {
    border: 1px solid blue;
    
}

tr {
    border: 1px solid blue;
}

.login-input, .login-submit {
    display: flex;
    flex-direction: row;
}

.login-submit {
    justify-content: flex-end;
}

.login-input input {
    flex: 2;
    border-radius: 19px;
    line-height: 35px;
    border: none;
    box-shadow: -0.5px 0.5px 1px 0px rgb(0 0 0 / 15%);
    margin: 10px;
    padding-left: 15px;
}

.login-input label {
    flex: 1;
    line-height: 35px;
    margin: 10px;
}

.login-form-container {
    background-color: #E4F0FF;
    width: 50%;
    margin: 30px auto 15px;
    border-radius: 15px;
}

#loginForm {
    padding: 10px;
}

#submitBtn {
    border: 1px solid #0260B3;
    padding: 8px 19px;
    transition: 0.25s;
    border-radius: 16px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 18px;
    margin-left: 250px;
    margin-top: 10px;
    width: 100px;
    line-height: 20px;
}

#btnPasswordReset, #btnUIDInquery, #btnUpdateAgency, #btnRegister {
    border: 1px solid #0260B3;
    padding: 8px 19px;
    transition: 0.25s;
    border-radius: 18px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px;
}

    #btnRegister {
        width: 100px;
    }

    #submitBtn:hover, #btnPasswordReset:hover, #btnUIDInquery:hover, #btnUpdateAgency:hover, #btnRegister:hover {
        cursor: pointer;
        background-color: #468ac7;
        border: 1px solid #468ac7;
    }

#pwd-reset-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pwd-reset-sent p {
    margin-top: 25px;
    width: 50%;
}


#forgot-pwd-link {
    
    color: #0260B3;
}

#forgot-pwd-link:hover {
    color: #468ac7;
}

/*******************PROFILE PAGE********************/
.user-details {
    display: flex;
    flex-direction: row;
    width: 760px;
    background-color: #E4F0FF;
    border-radius: 15px;
    color: gray;
}

user-details-prof-pwd {
    display: flex;
    flex-direction: column;
    width: 760px;
    background-color: #E4F0FF;
    border-radius: 15px;
    color: gray;
}

.user-details form {
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 25px;
}

.input-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}


.pwd-reset-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
}



.update-profile-btn, .update-password-btn {
    background-color: #0260B3 !important;
    color: white !important;
}

.update-profile-btn:hover, .update-password-btn:hover {
    background-color: #3680c2 !important;
    color: white !important;
}

.user-details input {
    flex: 2;
    border-radius: 19px;
    line-height: 35px;
    border: none;
    box-shadow: -0.5px 0.5px 1px 0px rgb(0 0 0 / 15%);
    padding-left: 15px;
}

.pwd-reset-form .input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;

}

.input-col.col1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}

.pwd-reset-form input {
    flex: 2;
    line-height: 25px;
    border: none;
    border-bottom: 1px solid black;
    padding: 2px 8px;
}

.pwd-reset-form p {
    width: 70%;
    margin: 15px auto;
}


.user-details label {
    flex: 1;
    line-height: 35px;
}

.pwd-reset-form label {
    flex: 1;
    line-height: 25px;
}

.details-col-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.details-col-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#updateBtn {
    border: 1px solid #0260B3;
    padding: 8px 19px;
    transition: 0.25s;
    border-radius: 16px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 18px;
    margin: 10px;
    width: 100px;
    margin-left: 245px;
    line-height: 20px;
}

.user-details input:focus {
    border-radius: 16px;
}

#updateBtn:focus {
    border-radius: 16px;
}

#updateBtn:hover {
    background-color: white;
    color: #0260B3;
    cursor: pointer;
}

div#profile .active {
    background-color: white;
}




/*******************MEDIA BREAKPOINTS********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .main-content {
        margin: 0;
        width: 100%;
    }

   .navbar {
        padding-top: 0 !important;
    }

    .main-header {
        flex-direction: column;
        height: 140px;
        align-items: center;
        box-shadow: none;
        
    }

    .menu-panel {
        display: flex;
        justify-content: center;
        width: 20%;
    }

    .title-panel {
        
        width: 50%;
    }


   .user-panel {
       width: 20%;
       justify-content: center;
    }

    .login-link {
        margin-right: 0;
    }

    .logo-container {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }
   
    .brand-link {
        width: 66%
    }

    .logo-image {
        height: 70px;
        width: 319px;
    }

    .wrapper {
        flex-direction: column;
        min-height: 100vh;
    }

    .main-sidebar {
        width: 100%;
        margin: 0;
    }

    ul.sidebar-list {
        padding-left: 0;
        margin-bottom: 0;
    }

    .sidebar-list li {
      margin-left: 0;
    }

    .nav-item {
        text-align: center;
    }

    .header-container h2 {
        margin-left: 0;
    }

    .header-container {
        width: 100%;
        padding-bottom: 5px;
    }

    .user-panel {
        padding-right: 0;
    }

    form {
       /* width: 200px;*/
    }

    #forgot-pwd-link {
        text-decoration: none;
    }

    .main-text {
        width: 80%;
    }

    .main-content {
        width: 100%;
    }

    /*OnlineReferral*/

    .login-form-container {
        width: 100%;
        padding: 15px;
    }

    #forgot-pwd-link {
        margin-left: 0px;
    }

    #loginForm {
        width: 100%;
    }

    #submitBtn {
        margin: 10px 0;
        width: 100%;
    }

    .login-input input {
        flex: 2;
        border-radius: 19px;
        line-height: 35px;
        border: none;
        box-shadow: -0.5px 0.5px 1px 0px rgb(0 0 0 / 15%);
        margin: 5px;
        padding-left: 10px;
    }

    .warning {
       text-align: center;
    }

    #pwd-reset-sent p {
        width: 80%;
    }

    .register-details {
        width: 110%;
        padding: 25px 10px;
        align-items: center; 
    }

    .register-details form {
        width: 90%;
    }

    .register-details .input-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .register-details input {
        margin: 5px 0;
        width: 100%;
    }

    #btnRegister {
        width: 100%;
    }
   
}

/* Small devices (portrait tablets and large phones, 676px and up) */
@media only screen and (min-width: 676px) {

    #submitBtn {
        width: 100px;
        margin-left: 70%;
    }

    #pwd-reset-form {
        width: 100% !important;
    }

    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo-container {
        width: 19.5%;
    }

    .login-form-container {
        width: 100%;
    }

    .header-container {
        width: 80.5%;
    }

    .main-text {
        width: 70%;
    }

    #loginForm {
        width: 100%;
    }

    #submitBtn {
        margin-left: 70%;
    }

}


/*@media only screen and (min-width: 840px) {
    .title-panel {
        width: 70%;
    }

    .user-panel {
        width: 30%;
    }
}*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #loginForm {
        
    }

    .login-form-container {
        width: 70%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .login-form-container {
        width: 50%;
    }
}
/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */