body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 900px;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #0260B3;
    color: floralwhite;
    height: 70px;
    box-shadow: -4px 4px 5px 1px rgba(0,0,0,0.33);
}

.logo-image {
    height: 70px;
    width: 100%;
}

.logo-container {
    width: 19.5%;
}

.header-container {
    width: 80.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-container h2{
    margin-left: 150px;
}

.title-panel {
    width: 65%;
    justify-content: center;
    display: flex;
}

.menu-panel {
    width: 5%;
}

.menu-panel i {
    font-size: 18px;
    height: 20px;
}

.user-panel {
    width: 30%;
    justify-content: flex-end;
    display: flex;
}

.user-login {
    border: 1px solid white;
    padding: 8px 19px;
    transition: 0.3s;
    border-radius: 16px;
}

.user-login:hover {
    background-color: white;
    color: blue;
}

.nav-sidebar a {
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}

.nav-sidebar li {
    text-decoration: none;
    color: gray;
    line-height: 18px;
    width: 100%;
    padding: 3px 0;
    transition: 0.3s;
    border-bottom: 1px solid #7C92C6;
    margin-left: -15px;
    cursor: pointer;
}

.nav-sidebar li:hover {
    background-color: #7C92C6;
}

.nav-sidebar li:hover a {
    color: floralwhite;
}

.nav-sidebar p {
    padding-left: 15px;
}

nav ul {
    list-style: none;
    width: 100%;
    padding-left: 15px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-sidebar {
    width: 20%;
    background-color: #E4F0FF;
    margin: 6px 0;
}

.active {
    background-color: #7C92C6;
   
}

.active a {
    color: floralwhite;
}

.user-login {
    text-decoration: none;
    color: floralwhite;
}

aside {
    float: left;
}

ul {
    padding-inline-start: 0;
}


footer {
    width: 100vw;
    height: 60px;
    background-color: #0260B3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
}



/**********MAIN CONTENT************/

.red {
    color: red;
}

.warning {
    padding: 5px;
    background-color: #F8D7DA;
    color: #721C59;
}

.main-content {
    margin: 15px;
    width: 80%;
}

.main-text {
    margin: 20px 100px 20px 44px;
    width: 70%;
    padding: 10px;
    line-height: 26px;
}

.main-text h2 {
    text-align: center;
}

.main-text a {
    text-decoration: none;
}

a{
    text-decoration: none;
}


.wrapper {
    display: flex;
    flex-direction: row;
    height: 900px;
}

/*******************REFERRAL PAGE********************/

.ref-buttons {
    border: 1px solid #0260B3;
    padding: 8px 19px;
    transition: 0.25s;
    border-radius: 16px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 18px;
    margin: 10px;
}

.ref-buttons:hover {
    background-color: white;
    color: #0260B3;
    cursor: pointer;
}

.refForm {
    display: flex;
    justify-content: center;
}

#refTable {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 700px;
}

#headerRow {
    border: 1px solid blue;
}

tr {
    border: 1px solid blue;
}

/*******************PROFILE PAGE********************/

.user-details {
    display: flex;
    flex-direction: row;
    /*border: 1px solid gray;*/
    width: 760px;
    background-color: #E4F0FF;
   /* box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.33);*/
    border-radius: 15px;
    color: gray;
}

.user-details form {
    display: flex;
    flex-direction: row;
    width: 760px;
    padding: 25px;
}

.input-row {
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.user-details input {
    flex: 2;
    border-radius: 19px;
    line-height: 35px;
    border: none;
    box-shadow: -0.5px 0.5px 1px 0px rgb(0 0 0 / 15%);
}

.user-details label {
    flex: 1;
    line-height: 35px;
}

.details-col-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.details-col-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#updateBtn {
    border: 1px solid #0260B3;
    padding: 8px 19px;
    transition: 0.25s;
    border-radius: 16px;
    background-color: #0260B3;
    color: floralwhite;
    font-size: 18px;
    margin: 10px;
    width: 100px;
    margin-left: 245px;
    line-height: 20px;
}

#updateBtn:focus {
    
    border-radius: 16px;
    
}

#updateBtn:hover {
    background-color: white;
    color: #0260B3;
    cursor: pointer;
}




/*******************MEDIA BREAKPOINTS********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 715px) {
    .main-header {
        flex-direction: column;
        height: 140px;
        align-items: center; 
    }

    .logo-container {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .brand-link {
        width: 66%
    }

    .logo-image {
        height: 70px;
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
        min-height: 1600px;
    }

    .main-sidebar {
        width: 100%;
        margin: 0;
    }

    .nav-item {
        text-align: center;
    }

    .header-container h2 {
        margin-left: 0;
    }

    .user-panel {
        padding-right: 0;
    }

    form {
        width: 200px;
    }

    #forgot-pwd-link {
        text-decoration: none;
    }

    .main-header {
        box-shadow: none;
    }

   
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}